<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">

<th:block th:replace="~{layout :: template('')}"></th:block>
<main>
    <h1>
        Logbook List
    </h1>
    <div class="grid-container">
        <form class="filter" th:action="@{/log/list}" METHOD="get">
            <label>Select Period</label>
            <select name="period">
                <option th:value="null">Select Period....</option>
                <option th:each="option : ${periodDropdown}" th:value="${option.value}" th:text="${option.textContent}" th:selected="${option.value == period}">
                </option>
            </select>
            <label>Select Month</label>
            <select name="logMonth">
                <option th:value="null">Select Month....</option>
                <option th:each="option : ${monthDropdown}" th:value="${option.value}" th:text="${option.textContent}" th:selected="${option.value == logMonth}">
                </option>
            </select>
            <label>Select Year</label>
            <select name="logYear">
                 <option th:each="option : ${yearDropdown}" th:value="${option.value}" th:text="${option.textContent}" th:selected="${option.value == logYear}">
                </option>
            </select>
            <label>Client Approval</label>
            <select name="clientApproval">
                <option th:each="option : ${clientApprovalDropdown}" th:value="${option.value}" th:text="${option.textContent}" th:selected="${option.value == clientApproval}">
                </option>
            </select>
            <label>HRD Approval</label>
            <select name="hrdApproval">
                <option th:each="option : ${hrdApprovalDropdown}" th:value="${option.value}" th:text="${option.textContent}" th:selected="${option.value == hrdApproval}">
                </option>
            </select>
            <button type="submit" class="blue-button">
                Search
            </button>
        </form>
        <div class="">
            <table>
                <tbody>
                    <tr>
                        <td>
                            Client Username
                        </td>
                        <td th:if="${header != null}" th:text="${header.clientUsername}"></td>
                    </tr>
                    <tr>
                        <td>
                            Client Name
                        </td>
                        <td th:if="${header != null}" th:text="${header.clientName}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table>
            <thead>
            <tr>
                <th>Action</th>
                <th>Log Date</th>
                <th>Client Approval Status</th>
                <th>HRD Approval Status</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="row : ${grid}" th:object="${row}">
                <td>
                    <a th:if="${!hrdApproval and !clientApproval}" class="blue-button" th:href="@{/log/editForm(id=*{id})}">Edit</a>
                    <a href="javascript:;" class="blue-button detail-button" th:attr="data-id=*{id}">Detail</a>
                </td>
                <td th:text="*{dateTimeFormat}"></td>
                <td th:text="*{clientApproval ? 'Approved' : 'Pending'}"></td>
                <td th:text="*{hrdApproval ? 'Approved' : 'Pending'}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <div class="pagination">
                        <div th:text="|Page ${currentPage} of ${totalPages}|"></div>
                        <div th:if="${totalPages != 0}">
                            <a th:each="number : ${#numbers.sequence(1, totalPages)}"
                               th:text="${number}" th:href="@{/log/list(page=${number}, submissionMonth=${submissionMonth}, submissionYear=${submissionYear}, clientApproval=${clientApproval}, hrdApproval=${hrdApproval})}"></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
<div class="modal-layer">
    <th:block th:replace="~{/log/log-detail :: detail-dialog}"></th:block>
</div>
<script th:src="@{/resources/js/popup/popup.js}"></script>
</body>
</html>